*{
    margin: 0;
    padding: 0;
}

.reachUs-div{
    padding-top: 120px;
    text-align: center;
}

.contactBody-div{
   margin:auto;
   margin-left: 20%;
   margin-right: 20%;
   height:1300px;

}

.contactBody-div input{
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.contactBody-div textarea{
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.usersAndOurInfo-div{
    display: flex;
    flex-wrap: wrap;
}

.usersInfo-div{
    margin-bottom: 8%;
}

input.invalid{
    border: 1px solid red;
}

.error-hint{
    color: red;
    font-size: 13px;
}

.thankU-div{
    padding: 40px;
    font-size: 32px;
    text-align: center;
}

hr{
  height: 1px;
  background-color:rgb(184, 182, 182);
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.submitButton-div button{
    padding: 7px;
    font-size: 15px;
    background-color: rgb(199, 198, 198);
   
    color: whitesmoke;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}

button{
    transition: all 1s;
    cursor: pointer;
    background-color: rgba(235, 225, 180, 0.726);
}

button:hover{
    background-color:rgba(92, 209, 203, 0.377);
    border: rgba(0, 0, 0, 0.342);
    color: white;
}

.hidden{
    display: none;
}

.ourInfo-div{
    height: 360px;
    width: 400px;
    margin: auto;
    background-color:rgb(199, 198, 198);
    border: 3px solid rgba(170, 167, 167, 0.959);
    text-align: center;
    margin-bottom: 8%;
}

.ourInfo-div div{
    padding-left: 15px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.locationIcon-div{
    display: flex;
}

.emailIcon-div{
    display: flex;
}

.phoneIcon-div{
    display: flex;
}

.usersNameEmail-div{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.usersNameEmail-div div{
    padding-right: 20px;
}

.usersPhoneOrganization-div{
    display: flex;
    flex-wrap: wrap;
}

.usersPhoneOrganization-div div{
    padding-right: 20px;
}

.comment-div{
    padding-top: 20px;
    padding-bottom:20px ;
}

.googleMap{
    max-width: 100%;
}

/*pjesa e produktit te pare*/

/*.body-div{
    height: 600px;
    }
    
    .body-div img{
        border: 5px solid rgba(170, 167, 167, 0.959);
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
       width: 50%;
       height: 50%;
    }
    
    .body-div h2{
        margin-top: 5%;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .body-div p, a{
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .stars-div{
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .stars-div i:hover{
        color: orange;
        
    }

    .body-div a{
        color: black;
    }

    .body-div a:hover{
        color: blue;
    }
*/
    @media  screen and (max-width:1000px){
      /*
      .menuIcon-div{
          display: block; 
          height: 100px;        
      }

      #menuList{
          overflow: hidden;
          transition: 0.5s;
      }*/

      .reachUs-div{
        text-size-adjust: 350%;
        margin-bottom: 10%;
      }

      .usersInfo-div p{
        text-size-adjust: 300%;
      }

      .usersInfo-div input{
          height: 100px;
          width: 600px;
      }

      .usersInfo-div textarea{
        height: 400px;
        width: 600px;
        text-size-adjust: 300%;
      }

      .contactBody-div{
          height: 300px;
      }

      .usersInfo-div button{
          height: 90px;
          width: 250px;
          text-size-adjust: 300%;
      }

      .ourInfo-div {
          height: 600px;
          width: 800px;
          text-size-adjust: 350%;
      }

      .contactIcons-div img {
          height: 70px;
      }
      .googleMap {
          height: 900px;
          width: 800px;
      }
    }