*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../HomePics/silvery.jpg');
}



.menuIcon-div{
    cursor: pointer;
    margin-left: 90%;
    display: none;
}

.cartWishlist-div{
    padding-left: 70%;
}

.cartWishlist-div  li a i{
    color: white;
}


.fa-heart:hover{
    color: red;
}
.nav-bar{
    padding-top: 20px;
    height: 180px;
}
.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding-top: 1%;
}

.logoNavlist-div{
    background-color: black;
    height: 125px;
}
#logo{
    text-decoration: underline;
    font-family: fantasy;
    color: white;
}

.nav-list ul li a{
   margin-left: 70px;
   text-decoration: none;
   font-size: 25px;
   color: white;
}
ul li a:hover{
    text-decoration: underline red;
}

.logo-div{
    position: absolute;
    padding-left: 20px;
}

.reachUs-div{
    padding-top: 120px;
    text-align: center;
}

.contactBody-div{
   margin:auto;
   margin-left: 20%;
   margin-right: 20%;
   height:1300px;

}

.contactBody-div input{
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.contactBody-div textarea{
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.usersAndOurInfo-div{
    display: flex;
    flex-wrap: wrap;
}

.usersInfo-div{
    margin-bottom: 8%;
}

input.invalid{
    border: 1px solid red;
}

.error-hint{
    color: red;
    font-size: 13px;
}

.thankU-div{
    padding: 40px;
    font-size: 32px;
    text-align: center;
}

hr{
  height: 1px;
  background-color:rgba(7, 73, 7, 0.801); 
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.submitButton-div button{
    padding: 7px;
    font-size: 15px;
    background-color: rgb(199, 198, 198);
   
    color: whitesmoke;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}

button{
    transition: all 1s;
    cursor: pointer;
    background-color: rgba(235, 225, 180, 0.726);
    border: 1px solid rgba(0, 0, 0, 0.616);
}

button:hover{
    background-color:rgba(92, 209, 203, 0.377);
    border: rgba(0, 0, 0, 0.342);
    color: white;
}

.hidden{
    display: none;
}

.ourInfo-div{
    height: 360px;
    width: 400px;
    margin: auto;
    background-color:rgb(199, 198, 198);
    border: 3px solid rgba(170, 167, 167, 0.959);
    text-align: center;
    margin-bottom: 8%;
}

.ourInfo-div div{
    padding-left: 15px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.locationIcon-div{
    display: flex;
}

.emailIcon-div{
    display: flex;
}

.phoneIcon-div{
    display: flex;
}

.usersNameEmail-div{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.usersNameEmail-div div{
    padding-right: 20px;
}

.usersPhoneOrganization-div{
    display: flex;
    flex-wrap: wrap;
}

.usersPhoneOrganization-div div{
    padding-right: 20px;
}

.comment-div{
    padding-top: 20px;
    padding-bottom:20px ;
}

.googleMap{
    max-width: 100%;
}

.footer-div{
    height: 250px; 
    background-color: black;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    color: white;
}

.logo-div2 img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    word-wrap: break-word;
}

.welcome-div{
    background-color: black;
   
}

.welcome-div p{
     color: white;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}

.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: white
}

.email-div{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 

.email-div input{
   background-color: rgb(194, 193, 193);
   border: 3px solid rgba(170, 167, 167, 0.959);
}

.fab:hover {
    color:rgba(170, 167, 167, 0.959);
}
.far:hover {
    color:rgba(170, 167, 167, 0.959);
}
.fa-facebook-f {
    color: white;
    background-color: #000000;
}
.fa-twitter{
    color: white;
    background-color: #000000;
}
.fa-envelope{
    color: white;
    background-color: #000000;
}
.fa-linkedin-in{
    color: white;
    background-color: #000000;
}
i.fab{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    cursor: pointer;
}
i.far{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    cursor: pointer;
}

.icons{
  position: absolute;
  margin-top: 100px;
  left: 89%;
}

.googleMap{
    max-width: 100%;
}

/*pjesa e produktit te pare*/

.body-div{
    height: 600px;
    }
    
    .body-div img{
        border: 5px solid rgba(170, 167, 167, 0.959);
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
       width: 50%;
       height: 50%;
    }
    
    .body-div h2{
        margin-top: 5%;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .body-div p, a{
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .stars-div{
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .stars-div i:hover{
        color: orange;
        
    }

    .body-div a{
        color: black;
    }

    .body-div a:hover{
        color: blue;
    }

/*@media  only screen and (min-width:375px){
      .nav-list ul {
          width: 100%;
          position: absolute;
          top: 100px;
          right: 0;
          z-index: 2;
          display: block;
          background-color: #000000;
      }
      
      .nav-list ul li{
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
        margin-left: 760px;
      }

      .nav-list ul li a{
          color: white;
           text-size-adjust: 200%;
      }

      .nav-list ul li a i{
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        display: block;
        left: 400px;
        padding-top:170px ;
      }

      .cartWishlist-div li a  i{
         padding-right: 20px;
      }
      .menuIcon-div{
          display: block; 
          height: 100px;        
      }

      #menuList{
          overflow: hidden;
          transition: 0.5s;
      }

      .fa-bars{
          color: white;
      }

      .welcome-div{
          height: 30px;
        text-size-adjust: 350%;
      }

      .logo-div{
          margin-top: 50px;
      }

      .reachUs-div{
        text-size-adjust: 350%;
        margin-bottom: 10%;
      }

      .usersInfo-div p{
        text-size-adjust: 300%;
      }

      .usersInfo-div input{
          height: 100px;
          width: 600px;
      }

      .usersInfo-div textarea{
        height: 400px;
        width: 600px;
        text-size-adjust: 300%;
      }

      .contactBody-div{
          height: 300px;
      }

      .usersInfo-div button{
          height: 90px;
          width: 250px;
          text-size-adjust: 300%;
      }

      .ourInfo-div {
          height: 600px;
          width: 800px;
          text-size-adjust: 350%;
      }

      .contactIcons-div img {
          height: 70px;
      }
      .googleMap {
          height: 900px;
          width: 800px;
      }

      .footer-div{
        margin-top: 3500px;
        height: 900px;
      }
  
      .footer-div p {
          text-size-adjust: 330%;
          color: white;
          display: block;
      }
  
      .footer-div a{
          text-size-adjust: 330%;
          color: white;
          display: block;
         
      }
  
      .email-div{
          margin-top: 50%;
          left: 10%;
      }
  
      .nav-list2 ul{
          margin-top: 20%;
          left: 10%;
      }
      
  
     .icons{
         padding-top:70% ;
         left: 10%;
     }
        
        
     .welcome-div{
    text-size-adjust: 350%;
    height: 30px;
  }

    }*/