*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d7cbd9;
}
.headerdiv{
    width: 100%;
    height:90px;
    background-color:#d7cbd9;
    position: relative;
  }

  #logostyle{
    display: flex;
    width: 180px;
    height: 90px;
    float:left;
  }
  .iconbuttons{
    display:flex;
    float:right;
    border: none;
    margin-top:2.3%;
    margin-right:1%;
    width:30px;
    height: 30px;
    margin-left:1%;
    padding-left:7px;
    padding-top:5px;
    font-size:20px;
    color:white;
    background-color: #d7cbd9;
  }
  .iconbuttons:hover{
    background-color: #cb9cd6;
  }
.tabela{
  border:#282d32;
  margin-bottom: 200px;
}
#a1{
  margin:auto;  
  margin-bottom: 500px;
}
  #headerForm {
    background-color: #d7cbd9;
    width: 200px;
    height: 15px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
  }

  #inputHeader {
    all: unset;
    background-color:#f6f0f7;
    font: 18px system-ui;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    width: 320px;
    padding: 6px 10px;
    margin-top:15%;  
  }
  .field{
    padding-top: 12px;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color:  #e6dce4;
    width: auto;
    margin-left:auto;
    margin-right: auto;
    font-size: 16pt;
  }
  ::placeholder {
    color: rgb(95, 95, 95);
    opacity: 0.5; 
    margin-right:5%;
  }

  #buttonHeader {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

  svg {
    color: #fff;
    fill: currentColor;
    width: 30px;
    height: 25px;
    padding-top:25px;
  }

#formulari {
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 40%;
    height: 650px;
   margin-top:1%;
   margin-bottom:3%;
   text-align: left;
    color: rgb(58, 57, 57);
}
#insertForm {
  width: 100%;
  height: 620px;
  display: flex;
   flex-direction: column;
   border-radius: 0.5em;
   background-color: white;
   padding-top: 2%;
}
input,
label,textarea,select {
    width: 200px;
    min-height: 3%;
    padding: 5px;
    margin-left: 35px;
    font-size:14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(34, 34, 34);
}
input, textarea{
    margin-bottom:6%;
    width:80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#product{
    margin-top:1%;
}
#inp{
    height:28px;
}
  #fotoParagh{
    width:320px;
    height: 100px;
    margin-left:18%;
    background-color: rgb(236, 235, 235);
    border: 3px dashed #ccc;
    text-align: center;
    line-height:120px;
    color: #181515;
  }
  #fotoInput{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-left:6.7%;
    width:330px;
    height: 110px;
    outline: none;
    opacity: 0;
  }

.priceDiv{
    flex-direction: row;
}
#pricelabel{
    margin-top:8%;
}
#price{
    width:35%;
    height:20px;

}
#euro{
    width: 60px;
    margin-left:5px;
    background-color: white;
    height:20px;
}
#buttonInsert {
  height: 40px;
    background-color: #d1b2d8;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    max-width:fit-content;
    margin-left:37%;
    padding: 10px 16px;
    margin-bottom: 11px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
#buttonInsert:hover{
    background-color: #cb9cd6;
}
.footer-dark {
      text-align: center;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    text-align: center;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
    
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }