*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('HomePics/silvery.jpg');
}

.header-div{
    height: 100px;
}

.menuIcon-div{
    cursor: pointer;
    margin-left: 90%;
    display: none;
}

.cartWishlist-div{
    padding-left: 70%;
}

.cartWishlist-div  li a i{
    color: white;
}


.fa-heart:hover{
    color: red;
}
.nav-bar{
    padding-top: 20px;
    height: 180px;
}
.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding-top: 1%;
}

.logoNavlist-div{
    background-color: black;
    height: 115px;
}
#logo{
    text-decoration: underline;
    font-family: fantasy;
    color: white;
}

.nav-list ul li a{
   margin-left: 70px;
   text-decoration: none;
   font-size: 25px;
   color: white;
}
ul li a:hover{
    text-decoration: underline red;
}

.logo-div{
    position: absolute;
    padding-left: 20px;
}

.welcome-div{
    background-color: black;
   
}

.welcome-div p{
     color: white;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}

.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: white
}

.email-div{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 

.email-div input{
   background-color: rgb(194, 193, 193);
   border: 3px solid rgba(170, 167, 167, 0.959);
}

.fab:hover {
    color:rgba(170, 167, 167, 0.959);
}
.far:hover {
    color:rgba(170, 167, 167, 0.959);
}
.fa-facebook-f {
    color: white;
    background-color: #000000;
}
.fa-twitter{
    color: white;
    background-color: #000000;
}
.fa-envelope{
    color: white;
    background-color: #000000;
}
.fa-linkedin-in{
    color: white;
    background-color: #000000;
}
i.fab{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
}
i.far{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
}

.icons{
  position: absolute;
  margin-top: 100px;
  left: 89%;
}