*{
    margin: 0;
    padding: 0;
}

body{
    background: url(HomePics/bcg.jpg);
}


.header-div{
    padding-top: 20px;
    height: 300px;
}

.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.nav-list ul li{
   margin-left: 25px;
}

.nav-list button{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
}

.logo-div{
    position: absolute;
    padding-left: 20px;
}

.reachUs-div{
    padding-top: 120px;
    text-align: center;
}

.contactBody-div{
   margin:auto;
   margin-left: 20%;
   margin-right: 20%;
   height:1300px;

}

.usersAndOurInfo-div{
    display: flex;
    flex-wrap: wrap;
}

.usersInfo-div{
    margin-bottom: 8%;
}

input.invalid{
    border: 1px solid red;
}

.error-hint{
    color: red;
    font-size: 13px;
}

.thankU-div{
    padding: 40px;
    font-size: 32px;
    text-align: center;
}

hr{
  height: 1px;
  background-color:rgba(0, 0, 0, 0.616); 
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.submitButton-div button{
    padding: 7px;
    font-size: 15px;
    background-color: rgba(223, 211, 211, 0.658);
    border: 1px solid rgba(0, 0, 0, 0.616);
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}

button{
    transition: all 1s;
    cursor: pointer;
    background-color: rgba(223, 211, 211, 0.658);
    border: 1px solid rgba(0, 0, 0, 0.616);
}

button:hover{
    background-color:rgba(92, 209, 203, 0.377);
    border: rgba(0, 0, 0, 0.342);
    color: white;
}

.hidden{
    display: none;
}

.ourInfo-div{
    height: 360px;
    width: 400px;
    margin: auto;
    background-color: rgba(223, 211, 211, 0.658);
    border: 2px solid rgba(0, 0, 0, 0.616);
    text-align: center;
    margin-bottom: 8%;
}

.ourInfo-div div{
    padding-left: 15px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.locationIcon-div{
    display: flex;
}

.emailIcon-div{
    display: flex;
}

.phoneIcon-div{
    display: flex;
}

.usersNameEmail-div{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.usersNameEmail-div div{
    padding-right: 20px;
}

.usersPhoneOrganization-div{
    display: flex;
    flex-wrap: wrap;
}

.usersPhoneOrganization-div div{
    padding-right: 20px;
}

.comment-div{
    padding-top: 20px;
    padding-bottom:20px ;
}

.footer-div{
    color: white;
    height: 250px; 
    background-color: black;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}

.logo-div2 img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    word-wrap: break-word;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}

.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: white;
}

.email-div{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 

.fab:hover {
    color: blue;
}
.far:hover {
    color: blue;
}
.fa-facebook-f {
    color: white;
    background-color: #000000;
}
.fa-twitter{
    color: white;
    background-color: #000000;
}
.fa-envelope{
    color: white;
    background-color: #000000;
}
.fa-linkedin-in{
    color: white;
    background-color: #000000;
}
i.fab{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
}
i.far{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
}

.icons{
  position: absolute;
  margin-top: 100px;
  left: 89%;
}

.map-div {
   display: flex;
   flex-wrap: wrap;
}

.googleMap{
    display: flex;
    flex-wrap: wrap;
  
}

@media only screen and(max-width: 375px){
    .div-1{
        flex-direction: row;
    }

    /*te gjithe "femijet" e div-1 kan me e marr kete veti*/
    .div-1 > *{
        flex-basis: 100%;
    }
    }
