*{
    margin: 0;
    padding: 0;
}

.header-div{
    padding-top: 20px;
    height: 300px;
}

.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.nav-list ul li{
   margin-left: 25px;
}

.nav-list button{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
}

.logo-div{
    position: absolute;
    padding-left: 20px;
}

.reachUs-div{
    padding-top: 120px;
    text-align: center;
}

.contactBody-div{
   margin:auto;
   margin-left: 8%;
   margin-right: 8%;
   height:900px;

}

.usersAndOurInfo-div{
    display: flex;
    flex-wrap: wrap;
}

.usersInfo-div{
    margin-right: 15%;
}

input.invalid{
    border: 1px solid red;
}

.error-hint{
    color: red;
    font-size: 13px;
}

.thankU-div{
    padding: 40px;
    font-size: 32px;
    text-align: center;
}

hr{
  height: 1px;
  background-color:green;  
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.submitButton-div button{
    padding: 7px;
    font-size: 15px;
    background-color: none;
    border: 1px solid green ;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}

button:hover{
    background-color:green ;
    border:black;
    color: white;
}

.hidden{
    display: none;
}

.ourInfo-div{
    height: 360px;
    width: 400px;
    margin: auto;
    left: 15%;
    background-color: rgb(238, 233, 211);
    text-align: center;
   
}

.ourInfo-div div{
    padding-left: 15px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.locationIcon-div{
    display: flex;
}

.emailIcon-div{
    display: flex;
}

.phoneIcon-div{
    display: flex;
}

.usersNameEmail-div{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.usersNameEmail-div div{
    padding-right: 20px;
}

.usersPhoneOrganization-div{
    display: flex;
    flex-wrap: wrap;
}

.usersPhoneOrganization-div div{
    padding-right: 20px;
}

.comment-div{
    padding-top: 20px;
    padding-bottom:20px ;
}

.footer-div{
    color: white;
    height: 250px; 
    background-color: black;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.logo-div2 img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    word-wrap: break-word;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}

.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: white;
}

.email-div{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 

.socials-div{
  position: absolute;
  margin-top: 100px;
  left: 89%;
}


