body{
    background:url(HomePics/bcg.jpg);
}
.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.nav-list ul li{
   margin-left: 25px;
}
.nav-list{
    background-color: black;
}

.main-div{
    margin: 20%;
    border: 2px solid;
    padding-left: 10%;
}
input{
    background-color: rgb(218, 211, 211);
    padding-right: 95px;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
}
