*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('HomePics/silvery.jpg');
}

.header-div{
    height: 280px;
}

.cartWishlist-div  li a i{
    color: rgba(170, 167, 167, 0.959);
}

.cartWishlist-div{
    padding-left: 70%;
}

.nav-list ul li a{
    color: rgba(170, 167, 167, 0.959);
}

.nav-list2 ul li a{
    color: rgba(170, 167, 167, 0.959);
}

.footer-div input{
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.logoNavlist-div{
    background-image: url('HomePics/mandalaa.jpg');
    border: 5px solid rgba(170, 167, 167, 0.959);
}

.logoNavlist-div ul li{
       color: rgba(170, 167, 167, 0.959);
}

.body-div a{
    color: rgba(7, 73, 7, 0.801);
}

.fa-heart:hover{
    color: red;
}
.nav-bar{
    padding-top: 20px;
    height: 180px;
}
.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding-top: 1%;
}

.nav-list ul li a{
   margin-left: 70px;
   text-decoration: none;
   font-size: 25px;
   color: black;
}
ul li a:hover{
    text-decoration: underline red;
}

/*.cartWishlist-div{
    padding-left: 80px;
}*/

.logo-div{
    position: absolute;
    padding-left: 20px;
}

.search-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
}

.search-div input{
    border-radius: 40px;
    text-align: center;
     height: 40px;
     background-image: url('HomePics/mandalaa.jpg');
   color: rgba(170, 167, 167, 0.959);
     border: 3px solid rgba(170, 167, 167, 0.959);
}

.body-div{
    height: 3100px;
}

.saleBrandsFilter-div{
    padding-top: 20px;
}

.saleBrands-div{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding-left: 20px;
}

.saleBrands-div button{
   margin-right: 15px;
   height: 30px;
   width: 50px;
   border-radius: 30%;
   background-image: url('HomePics/mandalaa.jpg');
   color: rgba(170, 167, 167, 0.959);
     border: 3px solid rgba(170, 167, 167, 0.959);
}

.filter-div{
  position: absolute;
    left:80%;
}

.saleBrands-div select{
    background-image: url('HomePics/mandalaa.jpg');
    color: rgba(170, 167, 167, 0.959);
      border: 3px solid rgba(170, 167, 167, 0.959);
}

.filter-div select {
    height: 30px;
    background-image: url('HomePics/mandalaa.jpg');
    color: rgba(170, 167, 167, 0.959);
      border: 3px solid rgba(170, 167, 167, 0.959);
}

.body-div img{
    border: 5px solid rgba(170, 167, 167, 0.959);
}

.produktet1-2-3-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    
}

.produktet1-2-3-div div{
    padding-left: 50px;
    padding-top: 15px;
}

.produktet4-5-6-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    
}

.produktet4-5-6-div div{
    padding-left: 50px;
    padding-top: 15px;
}
.produktet7-8-9-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}

.produktet7-8-9-div div{
    padding-left: 50px;
    padding-top: 15px;
}

.footer-div{
    color: white;
    height: 250px; 
    background-image: url('HomePics/mandala.jpg');
    color: rgba(170, 167, 167, 0.959);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.logo-div2 img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    word-wrap: break-word;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}

.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: black
}

.email-div{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 

.email-div input{
    background-color: rgb(194, 193, 193);
    border: 3px solid rgba(170, 167, 167, 0.959);
}

#quote{
    font-size: 1.5vw;
    position: absolute;
}


.fab:hover {
    color:rgba(170, 167, 167, 0.959);
}
.far:hover {
    color:rgba(170, 167, 167, 0.959);
}
.fa-facebook-f {
    color: white;
    background-color: #000000;
}
.fa-twitter{
    color: white;
    background-color: #000000;
}
.fa-envelope{
    color: white;
    background-color: #000000;
}
.fa-linkedin-in{
    color: white;
    background-color: #000000;
}
i.fab{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
}
i.far{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
}

.icons{
    position: absolute;
    margin-top: 100px;
    left: 89%;
  }

button{
    background-color: rgba(223, 211, 211, 0.658);
    border: 1px solid rgba(0, 0, 0, 0.616);
transition: all 1s;
    cursor: pointer;
}

button:hover{
    background-color:rgba(92, 209, 203, 0.377);
    border: rgba(0, 0, 0, 0.342);
    color: white;
}


 /*   @media only screen and (min-width:375px){
        .logoNavlist-div{
           height: 200px;
        }
        .nav-list ul{
            width: 100%;
            position: absolute;
            top: 75px;
            right: 0;
            z-index: 2;
             
        }
        .nav-list ul li{
            display:block;
            
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .nav-list ul li a{
         
        }

        

    


    }
