*{
    margin: 0;
    padding: 0;
}

body{
    background: url(HomePics/bcg.jpg);
}

.header-div{
    padding-top: 20px;
    height: 180px;
}

.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.nav-list ul li{
   margin-left: 25px;
}

.nav-list button{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
}

.logo-div{
    position: absolute;
    padding-left: 20px;
}

.search-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
  
}

.search-div input{
    border-radius: 20px;
    text-align: center;
}

.body-div{
    height: 900px;
}

.saleBrandsFilter-div{
    padding-top: 20px;
}

.saleBrands-div{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding-left: 20px;
}

.saleBrands-div button{
   margin-right: 15px;
}

.filter-div{
  position: absolute;
    left:80%;
}

.produktet1-2-3-4-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}

.produktet1-2-3-4-div div{
    padding-left: 50px;
    padding-top: 15px;
}

.footer-div{
    color: white;
    height: 200px; 
    background-color: black;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.logo-div2 img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    word-wrap: break-word;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}



.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: white;
}

.email-div{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 
#quote{
    font-size: 1.5vw;
    position: absolute;
}

button{
background-color: rgba(211, 149, 149, 0.479);
border: 1px solid rgba(226, 86, 86, 0.479);
transition: all 1s;
    cursor: pointer;
}

button:hover{
    background-color:rgba(184, 52, 52, 0.945) ;
    border:black;
    color: white;
}


@media only screen and(max-width: 375px){
    .nav-list ul li{
        flex-direction: column;
    }

    /*te gjithe "femijet" e div-1 kan me e marr kete veti*/
    .div-1 > *{
        flex-basis: 100%;
    }
    }
