*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('HomePics/silvery.jpg');
}

.header-div{
    height: 280px;
    padding-bottom: 20px;
}

.cartWishlist-div  li a i{
    color: white;
}

.cartWishlist-div{
    padding-left: 70%;
}

.footer-div input{
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.welcome-div{
 background-color: black;
 color: white;
}

.logoNavlist-div{
    background-color: black;
    height: 115px;
}

#logo{
    text-decoration: underline;
    font-family: fantasy;
    color: white;
}

.body-div a{
    color: rgba(7, 73, 7, 0.801);
}

.fa-heart:hover{
    color: red;
}
.nav-bar{
    padding-top: 20px;
    height: 180px;
}
.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding-top: 1%;
}

.nav-list ul li a{
   margin-left: 70px;
   text-decoration: none;
   font-size: 25px;
   color: white;
}
ul li a:hover{
    text-decoration: underline red;
}

/*.cartWishlist-div{
    padding-left: 80px;
}*/

.logo-div{
    position: absolute;
    padding-left: 20px;
}

.search-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
}

.search-div input{
    border-radius: 40px;
    text-align: center;
     height: 40px;
     background-color: white;
   color: black;
     border: 3px solid rgba(170, 167, 167, 0.959);
}

.body-div{
    height: 3100px;
}

.saleBrandsFilter-div{
    padding-top: 20px;
}

.saleBrands-div{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding-left: 20px;
}

.saleBrands-div button{
   margin-right: 15px;
   height: 30px;
   width: 50px;
   border-radius: 30%;
   background-color: white;
   color: black;
   border: 3px solid rgba(170, 167, 167, 0.959);
}

.filter-div{
  position: absolute;
    left:80%;
}

.saleBrands-div select{
    background-color: white;
    color: black;
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.filter-div select {
    height: 30px;
    background-color: white;
    color: black;
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.body-div img{
    border: 5px solid rgba(170, 167, 167, 0.959);
}

.produktet1-2-3-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    
}

.produktet1-2-3-div div{
    padding-left: 50px;
    padding-top: 15px;
}

.produktet4-5-6-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    
}

.produktet4-5-6-div div{
    padding-left: 50px;
    padding-top: 15px;
}
.produktet7-8-9-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}

.produktet7-8-9-div div{
    padding-left: 50px;
    padding-top: 15px;
}

.numrat-div{
    padding-left: 40%;
    padding-bottom: 8%;
}

.numrat{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 1.5%;
}

.footer-div{
    height: 250px; 
    background-color: black;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.logo-div2 img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    word-wrap: break-word;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}

.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: white;
}

.email-div{
    color: white;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 

.email-div input{
    background-color: rgb(194, 193, 193);
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.menuIcon-div{
    cursor: pointer;
    margin-left: 90%;
    display: none;
}

#quote{
    color: white;
    font-size: 1.5vw;
    position: absolute;
}


.fab:hover {
    color:rgba(170, 167, 167, 0.959);
}
.far:hover {
    color:rgba(170, 167, 167, 0.959);
}
.fa-facebook-f {
    color: white;
    background-color: #000000;
}
.fa-twitter{
    color: white;
    background-color: #000000;
}
.fa-envelope{
    color: white;
    background-color: #000000;
}
.fa-linkedin-in{
    color: white;
    background-color: #000000;
}
i.fab{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    cursor: pointer;
}
i.far{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    cursor: pointer;
}

.icons{
    position: absolute;
    margin-top: 100px;
    left: 89%;
  }

button{
    background-color: rgba(223, 211, 211, 0.658);
    border: 1px solid rgba(0, 0, 0, 0.616);
    transition: all 1s;
    cursor: pointer;
}

button:hover{
    background-color:rgba(92, 209, 203, 0.377);
    border: rgba(0, 0, 0, 0.342);
    color: white;
}


 /*  @media only screen and (min-width:375px){
      .nav-list ul {
          width: 100%;
          position: absolute;
          top: 100px;
          right: 0;
          z-index: 2;
          display: block;
          background-color: #000000;
      }
      
      .nav-list ul li{
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
        margin-left: 760px;
      }

      .nav-list ul li a{
          color: white;
           text-size-adjust: 200%;
      }

      .nav-list ul li a i{
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        display: block;
        left: 400px;
        padding-top:170px ;
      }

      .cartWishlist-div li a  i{
         padding-right: 20px;
      }
      .menuIcon-div{
          display: block;          
      }

      #menuList{
          overflow: hidden;
          transition: 0.5s;
      }

      .fa-bars{
          color: white;
      }
      .logo-div{
        margin-top: 50px;
    }

      .produktet1-2-3-div {
          flex-direction: column-reverse;
          margin: 50px 0;
      }

      .produktet4-5-6-div {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .produktet7-8-9-div {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .body-div img{
        height: 550px;
        width: 700px;
    }

    .body-div {
        text-size-adjust: 200%;
    }

    .search-div input{
       width: 400pt;
       height: 70px;
       text-size-adjust: 350%;
       background-color: white;
    }

    .filter-div select{
        width: 180px;
       height: 70px;
       margin-right: 20px;
       text-size-adjust: 330%;
    }

    .saleBrands-div button, select{
        width: 180px;
       height: 70px;
       margin-right: 20px;
       text-size-adjust: 330%;
    }
    
    .saleBrands-div{
        flex-direction: column;
        margin:50px 0;
    }

    .saleBrands-div button{
        margin-bottom: 20%;
    }

    .filter-div{
        flex-direction: column;
        margin:50px 0;
    }

    .produktet1-2-3-div{
        margin-top: 190px;
    }

    .body-div{
        height: 3000px;
    }

    .footer-div{
      margin-top: 3500px;
      height: 900px;
    }

    .footer-div p {
        text-size-adjust: 330%;
        color: white;
        display: block;
    }

    .footer-div a{
        text-size-adjust: 330%;
        color: white;
        display: block;
       
    }

    .email-div{
        margin-top: 50%;
        left: 10%;
    }

    .nav-list2 ul{
        margin-top: 20%;
        left: 10%;
    }
    

   .icons{
       padding-top:70% ;
       left: 10%;
   }
      
   .welcome-div{
  text-size-adjust: 350%;
  height: 30px;
}
 }*/
