*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../HomePics/silvery.jpg');
}

.header-div{
    height: 200px;
    padding-bottom: 10px;
}

.cartWishlist-div  li a i{
    color: white;
}

.cartWishlist-div{
    padding-left: 70%;
}

.footer-div input{
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.welcome-div{
 background-color: black;
 color: white;
}

.logoNavlist-div{
    background-color: black;
    height: 125px;
}
.body-div  a:hover{
    color: blue;
    text-decoration: underline;

}

#logo{
    text-decoration: underline;
    font-family: fantasy;
    color: white;
}

.body-div a{
    color: rgba(7, 73, 7, 0.801);
}

.fa-heart:hover{
    color: red;
}
.nav-bar{
    padding-top: 20px;
    height: 180px;
}
.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding-top: 1%;
}

.nav-list ul li a{
   margin-left: 70px;
   text-decoration: none;
   font-size: 25px;
   color: white;
}
ul li a:hover{
    text-decoration: underline red;
}
.logo-div{
    position: absolute;
    padding-left: 20px;
}

.header h1{
    text-align: center;
    padding-bottom: 20px;
}
.theSelectedProduct{
 width: 300px;
 height: 300px;
 text-align: center;
margin-right: 30px;
padding-left: 40px;
}


.footer-div{
    height: 250px; 
    background-color: black;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.logo-div2 img{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    word-wrap: break-word;
}

.logo-div2 p{
    position: absolute;
    left:10%;
}

.nav-list2 ul{
    position: absolute;
    left: 45%;
}

.nav-list2 li{
    list-style: none;
}

.nav-list2 li a{
    color: white;
}

.email-div{
    color: white;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
} 

.email-div input{
    background-color: rgb(194, 193, 193);
    border: 3px solid rgba(170, 167, 167, 0.959);
}

.menuIcon-div{
    cursor: pointer;
    margin-left: 90%;
    display: none;
}

#quote{
    color: white;
    font-size: 1.5vw;
    position: absolute;
}


.fab:hover {
    color:rgba(170, 167, 167, 0.959);
}
.far:hover {
    color:rgba(170, 167, 167, 0.959);
}
.fa-facebook-f {
    color: white;
    background-color: #000000;
}
.fa-twitter{
    color: white;
    background-color: #000000;
}
.fa-envelope{
    color: white;
    background-color: #000000;
}
.fa-linkedin-in{
    color: white;
    background-color: #000000;
}
i.fab{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    cursor: pointer;
}
i.far{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    cursor: pointer;
}

.icons{
    position: absolute;
    margin-top: 100px;
    left: 89%;
  }

button{
    background-color: rgba(223, 211, 211, 0.658);
    border: 1px solid rgba(0, 0, 0, 0.616);
    transition: all 1s;
    cursor: pointer;
}

button:hover{
    background-color:rgba(92, 209, 203, 0.377);
    border: rgba(0, 0, 0, 0.342);
    color: white;
}
